{% load static %}

<article class="col-9 card mb-3 w-100 mid-gray">
    <div class="row g-0 ">
        <div class="col-2 p-2">
            <div class="border mb-3 w-100 gray pic">
                <img
                        src="{{ item.author.avatar_path.url }}"
                        class="img-fluid rounded-start"
                        alt="..."/>
            </div>
            <div class="input-group flex-nowrap">
                <input type="number" value="{{ item.likes_count }}" class="form-control my-input"/>
            </div>
        </div>

        <div class="col">
            <div class="card-body">
                <p class="card-text">
                    {{ item.answer }}
                </p>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="{{ item.id }}">
                    <label class="form-check-label" for="{{ item.id }}">Current</label>
                </div>
            </div>
        </div>
    </div>
</article>