{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>ASK_Koshenkov</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.css' %}">
    <link rel="shortcut icon" href='{% static "img/terminal_black_24dp.svg" %}'/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="main">
<div>
    {% block nav %}
        {% if request.user.is_authenticated %}
            {% include 'layouts/nav.html' %}
        {% else %}
            {% include 'layouts/unsigned_nav.html' %}
        {% endif %}
    {% endblock %}
    <main class="container-fluid container-lg mt-3">
        {% block head %}
        {% endblock %}
        <div class="row">
            {% block content %}
            {% endblock %}
            <div class="col-4">
                <h3 class="white">Popular Tags</h3>
                <div class="col-8">
                    <div class="row">
                        {% for tag in pop_tags %}
                            <a class="col link-info" href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="mt-5 white">Best Members</h3>
                <div>
                    {% for u in pop_users %}
                        <h6 href="" class="d-block link-success">{{ u.user.username }}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</html>