<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../../static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/img/terminal_black_24dp.svg"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body class="main">
<div>
    <nav class="navbar nav-color">
        <div class="container-sm-fluid container-lg">
            <a class="navbar-brand fw-bold white nav-brand-hover">
                ВОПРОСЫ?
            </a>
            <form class="d-flex" role="search">
                <div class="input-group">
                    <input
                            class="form-control my-input"
                            type="search"
                            aria-label="Search"
                    />
                    <div class="input-group-append">
                        <button class="btn my-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 height="24px"
                                 viewBox="0 0 24 24"
                                 width="24px"
                                 fill="#000000">
                                <path
                                        d="M0 0h24v24H0z"
                                        fill="none"
                                />
                                <path stroke="#1f75fe" stroke-width="2"
                                      d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                                />
                            </svg>
                        </button>
                    </div>

                </div>
            </form>

            <div class="d-flex justify-content-between gap-3">
                <div class="border">
                    <img src="../../static/img/photo_2024-03-09_21-45-42.jpg"
                         width="50" height="50"/>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <div class="white">
                        Dr. Pepper
                    </div>
                    <div>
                        <a href="/settings.html">Settings</a>
                        <a href="/logout.html">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main class="container-fluid container-lg mt-3">
        <div class="d-flex gap-3 align-items-center">
             <h1 href="/hot.html">content</h1>

        </div>
        <div class="row">
            <div class="col-8">
                content
            </div>
            <div class="col-4">
                <h3 class="white">Popular Tags</h3>
                <div class="row">
                    <div class="col">
                        <button class="badge text-bg-primary">Primary</button>
                        <button class="badge text-bg-secondary">Secondary</button>
                        <button class="badge text-bg-success">Success</button>
                        <button class="badge text-bg-danger">Danger</button>
                        <button class="badge text-bg-warning">Warning</button>
                        <button class="badge text-bg-info">Info</button>
                        <button class="badge text-bg-light">Light</button>
                        <button class="badge text-bg-dark">Dark</button>
                    </div>
                </div>
                <h3 class="mt-5 white">Best Members</h3>
                <div>
                    <a href="/member.html" class="d-block">Mr. Freeman</a
                    ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="fixed-bottom p-3 nav-color ">
        <div class="container">
            <span class="white">это футтер</span>
        </div>
    </footer>
</div>
</body>
<script src="../../static/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</html>