{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>ASK_Koshenkov</title>
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/img/terminal_black_24dp.svg"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="main">
<div>

    {% block nav %}
    {% endblock %}

    <main class="container-fluid container-lg mt-3">

        {% block head %}

        {% endblock %}

        <div class="row">
            {% block content %}

            {% endblock %}

            <div class="col-4">
                <h3 class="white">Popular Tags</h3>
                <div class="col-8">
                    <div class="row">
                        <a class="col link-primary" href="/tag/Primary">Primary</a>
                        <a class="col link-success" href="/tag/Success">Success</a>
                        <a class="col link-danger" href="/tag/Danger">Danger</a>
                        <a class="col link-warning" href="/tag/Warning">Warning</a>
                        <a class="col link-info" href="/tag/Info">Info</a>
                        <a class="col link-light" href="/tag/Light">Light</a>
                        <a class="col link-primary" href="/tag/Primary">Primary</a>
                        <a class="col link-success" href="/tag/Success">Success</a>
                        <a class="col link-danger" href="/tag/Danger">Danger</a>
                        <a class="col link-warning" href="/tag/Warning">Warning</a>
                        <a class="col link-info" href="/tag/Info">Info</a>
                        <a class="col link-light" href="/tag/Light">Light</a><a class="col link-primary"
                                                                                href="/tag/Primary">Primary</a>
                        <a class="col link-success" href="/tag/Success">Success</a>
                        <a class="col link-danger" href="/tag/Danger">Danger</a>
                        <a class="col link-warning" href="/tag/Warning">Warning</a>
                        <a class="col link-info" href="/tag/Info">Info</a>
                        <a class="col link-light" href="/tag/Light">Light</a><a class="col link-primary"
                                                                                href="/tag/Primary">Primary</a>
                        <a class="col link-success" href="/tag/Success">Success</a>
                        <a class="col link-danger" href="/tag/Danger">Danger</a>
                        <a class="col link-warning" href="/tag/Warning">Warning</a>
                        <a class="col link-info" href="/tag/Info">Info</a>
                        <a class="col link-light" href="/tag/Light">Light</a>
                    </div>
                </div>

                <h3 class="mt-5 white">Best Members</h3>
                <div>
                    <a href="/member.html" class="d-block">Mr. Freeman</a
                    ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a
                ><a href="/member.html" class="d-block">Mr. Freeman</a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script src="../static/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
</html>