{% load static %}

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link gray" href="#">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link gray" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link gray" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link gray" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link gray" href="#">Next</a>
        </li>
    </ul>
</nav>