{% load static %}
<article class="card mb-3 w-100 mid-gray">
    <div class="row g-0 ">
        <div class="col-2 p-2">
            <div class="border mb-3 w-100 gray pic">
                <img
                        src="{{ item.author.avatar_path.url }}"
                        class="img-fluid rounded-start"
                        alt="..."/>
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'question' item.id %}">{{ item.title }}</a>
                </h5>
                <div class="col">
                    <a class="row container mb-3" href="{% url 'question' item.id %}">
                        answers ({{ item.answers_count }})</a>
                    <div class="row mb-1">
                        <div class="col">
                            <span class="text-muted">Tags</span>
                            {% for t in item.tags.all %}
                                <a href="{% url 'tag' tag_name=t %}" class="link-info">{{ t }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row mb-0 me-1 question-card" id="{{ item.id }}">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            {% if request.user.is_authenticated %}
                                <button type="button" class="btn btn-sm btn-outline-primary question-like-btn like-btn">
                                    <i class="fas fa-thumbs-up"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                         width="24px" fill="#2e5fef">
                                        <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"></path>
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-danger question-dislike-btn dislike-btn">
                                    <i class="fas fa-thumbs-down"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                         width="24px" fill="#EA3323">
                                        <path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"></path>
                                    </svg>
                                </button>
                            {% endif %}
                        </div>
                        <div class="text-muted">
                            <i class="fas fa-star"></i> Rating: <span id="{{ item.id }}" class="question-rating">{{ item.likes_count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted text-end">
                Created at: {{ item.created_time }}
            </div>
        </div>
    </div>
</article>