{% extends "layouts/base.html"%}
{% load static %}

{% block nav %}
    {% include 'layouts/nav.html' %}
{% endblock %}

{% block head %}
    <div class="d-flex gap-3 align-items-center">
        <h1 class="white">New Questions</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="col-8">
        {% include 'layouts/error.html' with ERROR="ошибка"%}
        <div class="form-floating mb-3">
            <input type="text" class="form-control my-input" id="floatingInput" placeholder="name@example.com">
            <label class="gray-input" for="floatingInput">Заголовок</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control my-input" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="min-height: 350px; max-height: 350px; resize: none"></textarea>
            <label for="floatingTextarea2">Текст</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control my-input" id="floatingPassword" placeholder="Пароль">
            <label for="floatingPassword">Теги</label>
        </div>

        <button type="button" class="btn my-btn">Success</button>

    </div>
{% endblock %}