{% extends "layouts/base.html" %}
{% load static %}

{% block head %}
    <div class="d-flex gap-3 align-items-center">
        <a href="/">New Questions</a>
        <h3 href="/hot">Hot Questions</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="col-8">
        {% for question in questions %}
            {% include 'layouts/question.html' with item=question %}
        {% endfor %}
    <div class="me-3">
                {% include 'layouts/pagination.html' with items=questions %}
            </div>
    </div>
{% endblock %}