{% extends 'layouts/base.html' %}
{% load static %}

{% block nav %}
    {% include 'layouts/unsaligned_nav.html' %}
{% endblock %}

{% block head %}
    <div class="d-flex gap-3 align-items-center">
        <h1 class="white">Login</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="col-8">
        {% include 'layouts/error.html' with ERROR="ошибка"%}
        <div class="form-floating mb-3 col-6">
            <input type="text" class="form-control my-input" id="LoginInpput" placeholder="VasyaPupkin2004">
            <label for="LoginInpput">Login</label>
        </div>
        <div class="form-floating col-6 mb-3">
            <input type="password" id="inputPassword1" class="form-control my-input"
                   aria-describedby="passwordHelpBlock" placeholder="Sl0jnu1p@r0l1111">
            <label for="inputPassword1">Password</label>
        </div>
        <button type="button" class="btn my-btn mb-3 col-2 me-3">Success</button>
        <a class="col-6 float m-3r" href="signup"> or create new account</a>

    </div>
{% endblock %}
