{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="col-8">
        <article class="card mb-3 w-100 mid-gray">
            <div class="row g-0 ">
                <div class="col-2 p-2">
                    <div class="border mb-3 w-100 gray pic">
                        <img
                                src="{{ question.author.avatar_path.url }}"
                                class="img-fluid rounded-start"
                                alt="..."/>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <span class="card-title">
                            <h3 class="text-primary">{{ question.title }}</h3>
                        </span>
                        <div class="mb-3">
                            <span class="text-muted">username:</span> <span
                                class="text-success"> {{ question.author.user.username }}</span>
                        </div>
                        <p class="card-text">
                            {{ question.content }}
                        </p>
                        <div class="col"></div>
                        <div class="row mb-0 me-1">
                            <div class="d-flex justify-content-between align-items-center question-card" id="{{ question.id }}">
                                <div class="btn-group">
                                    {% if request.user.is_authenticated %}
                                        <button type="button" class="btn btn-sm btn-outline-primary question-like-btn like-btn">
                                            <i class="fas fa-thumbs-up"></i>
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                 viewBox="0 -960 960 960" width="24px" fill="#2e5fef">
                                                <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"></path>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger question-dislike-btn dislike-btn">
                                            <i class="fas fa-thumbs-down"></i>
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                 viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                                                <path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"></path>
                                            </svg>
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="text-muted">
                                    <i class="fas fa-star"></i> Rating: <span
                                        id="{{ question.id }}" class="question-rating">{{ question.likes_count }}</span>
                                </div>
                            </div>

                        </div>


                        <div class="row mb-1">
                            <div class="col">
                                <span class="text-muted">Tags</span>
                                {% for t in question.tags.all %}
                                    <a href="{% url 'tag' tag_name=t %}" class="link-info">{{ t }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <hr style="border: 1px solid white">
        <div class="container-fluid me-3">
            <div class="col"></div>
            {% for item in answers %}
                {% include "layouts/answer.html" with qid=question.author.id%}
            {% endfor %}

            <div class="me-3">
                {% include 'layouts/pagination.html' with items=answers %}
            </div>

            <hr style="border: 1px solid white">
            {% if request.user.is_authenticated %}
                <form method="post">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-primary me-3 mb-3 float-end">send</button>
                    </div>
                </form>
            {% else %}
                <div class="card border-danger mb-3">
                    <div class="card-body">
                        Для взаимодействий с форумом их нужно <a href="{% url 'login' %}">войти</a> в аккаунт
                        или <a href="{% url 'signup' %}"> зарегистрироваться</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}